{% extends 'flatpages/default.html' %}



{% block title %} Удалить новость {% endblock title %}

{% block content %}
   <h2>Вы действительно хотите удалить данную заметку?</h2>
<table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Автор
                </td>
            </tr>
            <tr>
                <td>
                    {{ note.title}}
                </td>
                <td>
                    {{ note.dateCreation|date:'d-M-Y h:m' }}
                </td>

                <td>
                    {{ note.text }}
                </td>
                <td>
                    {{ note.author }}
                </td>
            </tr>
        </table>


<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}